* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #3a7edc, white);
  height: 100%;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 5rem;
    font-family: "Press Start 2P", sans-serif;
    background-image: linear-gradient(
      to left,
      rgb(206, 151, 206),
      rgb(136, 31, 211),
      rgb(60, 60, 211),
      rgb(82, 161, 82),
      rgb(211, 211, 122),
      rgb(236, 185, 90),
      rgb(221, 97, 97)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

section {
  min-height: 80vh;
}

img {
  cursor: pointer;
}

h1 {
  font-family: "Press Start 2P", sans-serif;
  color: white;
}

.sequencer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kick-pad,
.hihat-pad,
.snare-pad {
  height: 5rem;
  width: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: url("../img/pad1off.png") #d0ae83 no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.kick-pad.active {
  background: url("../img/pad1on.png") #ffae55 no-repeat;
  background-size: contain;
  opacity: 1;
}

.snare-pad {
  background: url("../img/pad2off.png") #d07fb2 no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.snare-pad.active {
  background: url("../img/pad2on.png") #ff55ae no-repeat;
  background-size: contain;
  opacity: 1;
}

.hihat-pad {
  background: url("../img/pad3off.png") #7688dd no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.hihat-pad.active {
  background: url("../img/pad3on.png") #5567ff no-repeat;
  background-size: contain;
  opacity: 1;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 2rem 0;
}

.hihat,
.kick,
.snare {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.pad {
  transition: all 0.5s ease;
}

select {
  padding: 0.6rem 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
